.background {
	width: 400px;
	height: 680px;
	background-color: rgb(25, 28, 28);
	border-radius: 10px 10px 20px 20px;
	position: relative;
}

.time-battery {
	margin-left: 330px;
	display: inline;
	color: tomato;
	padding-top: 5px;
}

.topBottomDetailsColorsAndPosition {
	color: tomato;
}

.yourCity {
	font-size: 43px;
	margin: auto;
}

.currentDate {
	font-size: 13px;
	margin: auto;
}

.container {
	border: 1px solid color;
}

.innerCircle {
	width: 280px;
	height: 280px;
	margin: auto;
	overflow: hidden;
	border-radius: 500px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	border: 3.5px solid tomato;
}

.float-left {
	position: absolute;
	top: 38%;
	left: 59.5%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color: tomato;
}

.temperature {
	padding-right: 20px;
	margin-left: -40px;
}

.btnConversion,
.btnConversion:hover,
.btnConversion:focus {
	background-color: transparent;
	border-color: transparent;
	position: fixed;
	outline-style: none;
	color: tomato;
	font-size: 30px;
	margin-top: 10px;
	margin-right: 120px;
	width: 70px;
}

a {
	color: rgb(78, 78, 62);
}

a:hover {
	color: tomato;
	text-decoration: none;
}

body {
	background-color: rgb(70, 67, 60);
}

li {
	list-style: none;
	display: inline-block;
	color: tomato;
	padding-top: 10px;
}

.thirdRow {
	color: tomato;
	text-align: center;
	font-size: 28px;
	text-shadow: 2px 2px 8px rgb(0, 0, 0);
	padding-top: 8px;
}

.imageInnerCircle {
	width: auto;
	height: 280px;
	position: relative;
}

.days {
	padding-top: 5px;
	text-align: center;
	color: tomato;
}

.input {
	padding-top: 0px;
	background-color: transparent;
}

.form-control,
.btn,
.form-control:focus,
.btn:hover,
.btn:focus {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	background-color: transparent;
	outline-style: none;
	border: transparent;
}

.topBottomDetailsColors {
	color: tomato;
}

.code {
	color: black;
	margin-bottom: 50px;
}

.codeName {
	color: tomato;
	margin-bottom: 50px;
}

.currentDateAndCity {
	color: turquoise;
	font-size: 15px;
	padding-top: 5px;
}

.bottomDetailsTable {
	color: turquoise;
	font-size: 13px;

	text-align: center;
	margin-top: 30px;
}

.currentDetails {
	padding-top: 3px;
	text-align: center;
}

.icons {
	font-size: 39px;
	margin-top: -5px;
	text-align: center;
}
.detailTable {
	padding-top: 30px;
	color: tomato;
}
