a {
	color: rgb(78, 78, 62);
}

a:hover {
	color: tomato;
	text-decoration: none;
}

body {
	background-color: rgb(70, 67, 60);
}

li {
	list-style: none;
	display: inline-block;
	color: tomato;
	padding-top: 10px;
}

.background {
	width: 400px;
	height: 680px;
	background-color: rgb(25, 28, 28);
	border-radius: 10px 10px 20px 20px;
	margin-left: 120px;
	margin-top: 50px;
	position: relative;
}

.container {
	padding-top: 27px;
	border: 1px solid color;
}

.thirdRow {
	color: tomato;
	text-align: center;
	font-size: 28px;
	text-shadow: 2px 2px 8px rgb(0, 0, 0);
	padding-top: 8px;
}

.cityToom {
	width: 220px;
	height: 220px;
	margin: auto;
	overflow: hidden;
	border-radius: 500px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	border: 3.5px solid tomato;
}

.dame {
	width: auto;
	height: 280px;
	position: relative;
}

.days {
	padding-top: 5px;
	text-align: center;
	color: tomato;
}

.input {
	padding-top: 0px;
	background-color: transparent;
}

.form-control,
.btn,
.form-control:focus,
.btn:hover,
.btn:focus {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	background-color: transparent;
	outline-style: none;
	border: transparent;
}

.float-left {
	position: absolute;
	top: 38%;
	left: 59.5%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color: tomato;
}

.code {
	color: black;
	margin-bottom: 50px;
	margin-left: 150px;
}

.codeName {
	color: tomato;
	margin-bottom: 50px;
}

.time-battery {
	margin-left: 310px;
	display: inline;
	color: tomato;
	padding-top: 5px;
}

.details {
	color: tomato;
	padding-top: 40px;
	text-align: left;
	position: relative;
	padding-left: 20px;
	font-size: 15px;
}

.btnConversion,
.btnConversion:hover,
.btnConversion:focus {
	background-color: transparent;
	border-color: transparent;
	position: fixed;
	outline-style: none;
	color: tomato;
	font-size: 30px;
	margin-top: 10px;
	margin-right: 120px;
	width: 70px;
}

.temperature {
	padding-right: 20px;
	margin-left: -40px;
}

.topDetails {
	color: turquoise;
	padding-left: 80px;
	font-size: 15px;
	padding-top: 10px;
}

.myTown {
	font-size: 43px;
	margin-left: -50px;
}

.today2 {
	font-size: 10px;
	padding-left: 18px;
}

.tableDetails {
	color: turquoise;
	font-size: 13px;
}

.future {
	padding-top: 35px;
	padding-left: 20px;
	color: rgb(72, 77, 77);
}

.colorDetails {
	color: tomato;
}
.today {
	padding-top: 3px;
}
.underCircle {
	background-color: rgb(244, 234, 232);
	width: 400px;
	position: relative;
	margin: 30px auto;
}
